setuptools
streamlit
# Langchain and related
langchain
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
# Core ML/NLP
torch
transformers
sentence-transformers
nltk
spacy
# Data & Vector Store
pandas
numpy
chromadb
faiss-cpu
scikit-learn
# File Parsers
python-dotenv
python-docx
pypdf
pdfminer.six
docx2txt
# Plotting
plotly
matplotlib
seaborn
